$fontFamilyFirst: 'Open Sans';
$fontFamilySecond: 'Playfair Display';
$fontFamilyBase: 'sans-serif';

$colorMineShaft: #333333;
$colorWildSand: #f6f6f6;
$colorDustyGray: #999999;
$colorWhiteSolid: #ffffff;
$colorDoveGray: #666666;
$colorStraw: #d5b986;
$colorGallery: #eaeaea;
$colorSulu: #b8ec64;

$colorMediumPurple: #a65cf0;
$colorMauve: #c998fb;
$colorPurpleHeart: #7033ac;
$colorBlueChalk: #ebd1ff;
$colorMagnolia: #f8efff;

$colorCrusta: #ff862f;
$colorMilkPunch: #fff5d1;
$colorKoromiko: #ffbd59;
$colorRust: #bb370e;

$gridGutter: 32px;
$gridGutterMobile: 16px;
$gridGutterSmall: 10px;
$borderRadius: 10px;
$delay: 0.1s;

$breakpointDesktop: 1200;
$breakpointTablet: 960;
$breakpointMobile: 576;

$vwBreakpointDesktop: 1024;
